/*----- 基礎組件 -----*/
$color-primary-default: #166A39;
$color-primary-dark: #0E3D1E;
$color-primary-light: #E6F5EA;

$font-NotoTC: 'Noto Sans TC', sans-serif;

$text-color-primary: #1C2B36;
$text-color-secondary: #3E5463;
$text-color-tertiary: #9FB1BD;

$color-black: #000;
$color-white: #fff;
$color-light-grey: #00000040;

$color-grey-50: #B4B4B4;
$color-grey-40: #DCDCDC;
$color-grey-30: #EBEBEB;
$color-grey-20: #F2F2F2;
$color-grey-10: #FCFCFC;

$font-Mulish: 'Mulish', sans-serif;
$font-DMsans: 'DM Sans', sans-serif;

$bd-radius-lg: 52px;

$font-size-body-lg: 28px;
$font-size-body-lg: 28px;

$color-border: $color-light-grey;